@page
@model Lab1.Pages.ErrorPageModel
@{
}


<div class="text-center">
    <h1 class="display-4">Access Denied</h1>
    <p>You do not have the necessary credentials to view this page.</p>
    <a class="btn btn-primary" href="/dashboard">Return to Home</a>
</div>