@page
@model IndexModel //This Code was written by Lloyd Davis and Jeremy Cohen
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome JMU</h1>
	<p>This code was written by: Lloyd Davis & Jeremy Cohen</p>
</div>


<a class="btn btn-primary" href="/ProjectView">Go to Projects -></a>
<a class="btn btn-primary" href="/Grant">Go to Grants</a>
<a class="btn btn-primary" href="/CreateUser">Create a User</a>


